:root {
	--black: #000;
	--black900: #1e1e1e;
    --black650: #3E3D3D;
	--black500: #717171;
	--black100: #C4C4C4;
    --white: #fff;
    --blue200: #C1BFFF;
    --blue80: #EDF0F6;
    --blue50: #FAFBFE;
    --container_back: #f4f4f4;
    --gradMain: linear-gradient(135deg, #777FF6, #8462D5);
    --gradMainHover: linear-gradient(135deg, #A3A9FF, #A181ED);
}
