@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("./static.css");
@import url("./login.css");
@import url("./buttons.css");
@import url("./dropdown.css");
@import url("./vertical_menu.css");
@import url("./bootstrap.css");

* {
	font-family: "Poppins", sans-serif;
	transition: all 0.5s;
}

body {
	min-height: 93vh;
	height: 100vh;
	margin: 0;
}

.container_logo {
	width: 300px;
	display: flex;
	justify-content: center;
}

.container__heading_1 {
	color: var(--black500, #3e3d3d);
	text-align: center;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.4px;
	margin-top: 36px;
	margin-bottom: 2px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.container__heading_2 {
	color: var(--black500, #717171);
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.4px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.txt_box {
	height: 44px;
	border: none;
	background-color: var(--blue50);
	box-sizing: border-box;
	padding: 0 16px;
	border: 2px solid var(--blue80);
	width: 100%;
	border-radius: 5px;
}

.txt_box::placeholder{
	font-size: 14px;
}

.txt_box:hover,
.txt_box:focus {
	background-color: var(--blue80);
	outline: none;
}

.txt_box:disabled {
	background-color: var(--container_back);
}

.group_input_button {
	width: 300px;
	max-width: 300px;
	display: flex;
}

.group_input_button > input {
	width: 256px;
}

.layout {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	min-height: 100%;
	min-height: 100%;
	min-width: 100%;
	min-width: 100%;
}

.menu_bar {
	width: 80px;
	min-height: 100%;
	min-height: 100%;

	box-sizing: border-box;
}

.menu_logo {
	width: 80px;
	height: 80px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.cart_container {
		display: none;
		min-width: 375px;
		max-width: 375px;
		width: 375px;
		height: 100vh;
		background-color: aquamarine;
	}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.cart_container {
		display: block;
		min-width: 375px;
		max-width: 375px;
		width: 375px;
		height: 100vh;
		background-color: aquamarine;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

.page_title_main {
	color: #1e1e1e;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px; /* 80% */
	letter-spacing: 0.4px;
}

.input_label1 {
	color: #585858;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px; /* 114.286% */
	letter-spacing: -0.1px;
	margin-bottom: 4px;
}

.right_Orient {
	display: flex;
	justify-content: end;
	width: 100%;
}
